<div style="margin-top: 150px" class="container">
  <div class="row featurette">
    <div class="featurette-text-block col-md-4">
      <h2 style="font-family: fantasy">Контактные данные центра</h2>
      <address>
        <strong>Юридический адрес:</strong><br>
        <strong style="text-decoration-line: underline;">
          Российская Федерация, 364051,<br>
          Чеченская республика<br>
          г. Грозный, ул. А. Шерипова, 64<br>
          ГУП «Центр информационных технологий»<br>
        </strong>
        <i style="color: #1b95e0;" class="fa fa-phone" aria-hidden="true"><span title="Phone" style="padding-left: 4px;color: #463e48;">8 (8712) 29-42-89</span></i><br>
        <i style="color: #1b95e0" class="fa fa-envelope-open-o" aria-hidden="true"><span style="padding-left: 4px"><a href="mailto:office@gupcit.ru">office@gupcit.ru</a></span></i><br>
      </address>
    </div>
    <div class="col-md-8">
      <div class="row-fluid">
        <iframe style="box-shadow: 0 0 5px 1px;" width="800" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://api-maps.yandex.ru/frame/v1/-/C6q2u6Oy" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
