<div style="background-color: #fff;box-shadow: 0 0 5px 1px;z-index: 999;" class="masthead clearfix">
    <nav>

      <ul class="nav masthead-nav">
      <span style="margin-left:-50px;text-shadow: 1px 1px 1px;letter-spacing:1px;padding-right:10px;font-size:15px">ГУП "Центр информационных технологии"</span>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a class="my-header-text" routerLink=""><span class="glyphicon glyphicon-home"></span> Главная</a>
        </li>
        <li routerLinkActive="active">
          <a class="my-header-text" routerLink="news"><span class="glyphicon glyphicon-bullhorn"></span> События</a>
        </li>
        <li routerLinkActive="active">
          <a class="my-header-text" routerLink="seminars"><span class="fa fa-graduation-cap"></span> Семинары</a>
        </li>
        <li routerLinkActive="active">
          <a class="my-header-text" routerLink="info"><span class="glyphicon glyphicon-exclamation-sign"></span> О центре</a>
        </li>
        <!--
        <li routerLinkActive="active">
          <a class="my-header-text" routerLink="gallery"><span class="fa fa-picture-o"></span> Галерея</a>
        </li>
      -->
        <li routerLinkActive="active">
          <a class="my-header-text" routerLink="contacts"><span class="fa fa-address-card"></span> Контакты</a>
        </li>
      </ul>
      <!--
      <ul style="float: right;margin:4px 100px 0px;">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Заявки <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="login">Войти</a></li>
            <li><a href="registration">Зарегистрироваться</a></li>
          </ul>
        </div>
      </ul>-->
    </nav>

</div>
