<div style="margin-top: 45px;position: fixed;width: 100%;z-index: 1;overflow: hidden;top: 0;left: 0;" id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="first-slide" src="../../assets/img/slide/cherhigov.jpg" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <p>Министерство транспорта и связи ЧР</p>
          <p><a class="btn btn-lg btn-primary" href="http://mtischr.ru/" target="_blank" role="button">Перейти</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="second-slide" src="../../assets/img/slide/kadirov.jpg" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <p>Администрация Главы и Правительства Чеченской Республики</p>
          <p><a class="btn btn-lg btn-primary" href="https://www.apchr.ru/" target="_blank" role="button">Перейти</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="third-slide" src="../../assets/img/slide/gususlugi.jpg" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <p style="color: black">Портал государственных услуг Российской Федерации</p>
          <p><a class="btn btn-lg btn-primary" href="https://www.gosuslugi.ru/" target="_blank" role="button">Перейти</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- /.carousel -->
<div style="z-index: 2;position: relative;background-color: #fefefe;margin-top: 698px;box-shadow:0 0 1px 0px;padding-bottom: 50px">

    <div style="margin-right: 0px;" class="row">
      <div style="padding-top: 10px;margin-bottom: -40px" class="col-md-6 col-md-offset-3" role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-justified" id="nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#gosuslugi" aria-controls="gosuslugi" role="tab" data-toggle="tab">
              <img style="border-radius: 50%;" src="../../assets/img/info_tab/logo_gosuslugi.png" />
              <span class="quote"><i class="fa fa-quote-left"></i></span>
            </a>
          </li>
          <li role="presentation">
            <a href="#portal" aria-controls="portal" role="tab" data-toggle="tab">
              <img style="border-radius: 50%;" class="" src="../../assets/img/info_tab/rpgu-logo.png" />
              <span class="quote"><i class="fa fa-quote-left"></i></span>
            </a>
          </li>
          <li role="presentation">
            <a href="#rgu" aria-controls="rgu" role="tab" data-toggle="tab">
              <img class="img-circle" src="../../assets/img/info_tab/rgu-logo.png" />
              <span class="quote"><i class="fa fa-quote-left"></i></span>
            </a>
          </li>
          <li role="presentation">
            <a href="#smev" aria-controls="smev" role="tab" data-toggle="tab">
              <img class="img-circle" src="../../assets/img/info_tab/smev-logo.png" />
              <span class="quote"><i class="fa fa-quote-left"></i></span>
            </a>
          </li>
          <li role="presentation">
            <a href="#gisgmp" aria-controls="gisgmp" role="tab" data-toggle="tab">
              <img class="img-circle" src="../../assets/img/info_tab/gisgmp.png" />
              <span class="quote"><i class="fa fa-quote-left"></i></span>
            </a>
          </li>
          <li role="presentation">
            <a href="#seddelo" aria-controls="seddelo" role="tab" data-toggle="tab">
              <img class="img-circle" src="../../assets/img/info_tab/sed-delo.png" />
              <span class="quote"><i class="fa fa-quote-left"></i></span>
            </a>
          </li>
        </ul>

      </div>
        <!-- Tab panes -->
      <div class="col-md-10 col-md-offset-1" role="tabpanel">
        <div class="tab-content" id="tabs-collapse">
          <div role="tabpanel" class="tab-pane fade in active" id="gosuslugi">
            <div class="tab-inner">

              <ul class="timeline">
                <li>
                  <div class="timeline-badge primary"><i class="fa fa-exclamation"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">Преимущества использования портала государственных услуг</h4>
                      <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Экономит время:</small></p>
                      <p>В последнее время все больше граждан отдают предпочтение интернету. В современном информационном веке получить государственные и муниципальные услуги можно и посредством использования портала государственных услуг gosuslugi.ru.</p>
                      <p><small class="text-muted"><i class="fa fa-file-text-o"></i> С помощью портала Вы сможете воспользоваться многими популярными сервисами:</small></p>
                    </div>
                    <div class="timeline-body">
                      <hr>
                      <p><i class="glyphicon glyphicon-check"></i> получить загранпаспорт;<br>
                        <i class="glyphicon glyphicon-check"></i> оплатить штрафы ГИБДД;<br>
                        <i class="glyphicon glyphicon-check"></i> получить информацию о состоянии лицевого счета в Пенсионный фонд Российской Федерации;<br>
                        <i class="glyphicon glyphicon-check"></i> узнать о пенсионных накоплениях;<br>
                        <i class="glyphicon glyphicon-check"></i> получить историю обращений в Пенсионный фонд Российской Федерации;<br>
                        <i class="glyphicon glyphicon-check"></i> узнать налоговую задолженность;<br>
                        <i class="glyphicon glyphicon-check"></i> отправить налоговую декларацию;<br>
                        <i class="glyphicon glyphicon-check"></i> зарегистрировать автомобиль;<br>
                        <i class="glyphicon glyphicon-check"></i> снять транспортное средство с регистрации;<br>
                        <i class="glyphicon glyphicon-check"></i> получить информацию по исполнительным производствам;<br>
                        <i class="glyphicon glyphicon-check"></i> получить справку о ходе/отсутствии исполнительного производства;<br>
                        <i class="glyphicon glyphicon-check"></i> пройти регистрацию по месту жительства или по месту пребывания;<br>
                        <i class="glyphicon glyphicon-check"></i> поменять паспорт Российской Федерации в 20 или 45 лет;<br>
                        <i class="glyphicon glyphicon-check"></i> получить адресно-справочную информацию и многие другие услуги.</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="timeline-badge warning"><i class="fa fa-user-plus"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">Процедура регистрации на <a href="https://www.gosuslugi.ru/" target="_blank">#портале</a> государственных услуг</h4>
                    </div>
                    <div class="timeline-body">
                      <hr>
                      <p>Шаг 1. Регистрация упрощенной учетной записи.<br>
                        На данном этапе вам необходимо заполнить 3 поля: фамилия, имя, номер мобильного телефона или адрес электронной почты.<br>
                        Корректно заполните форму и нажмите кнопку «Зарегистрироваться». После этого подтвердите номер мобильного телефона или электронную почту.<br>
                        Шаг 2. Ввод личных данных.<br>
                        После уведомления об успешно завершенной регистрации, система перенаправит вас на форму заполнения личных данных. Она включает в себя паспортные данные и номер СНИЛС. Эти документы необходимо подготовить заранее. После ввода личных данных и их проверки уровень учетной записи повысится до стандартной и вы будете иметь больше возможностей на портале.<br>
                        Шаг 3. Проверка введенных данных.<br>
                        После заполнения формы на предыдущем этапе, указанные личные данные отправляются на автоматическую проверку в Пенсионный Фонд РФ и ФМС.</p>
                    </div>
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/gFYi1oFtMLg" frameborder="0" allowfullscreen></iframe>
                  </div>
                </li>
                <li>
                  <div class="timeline-badge success"><i class="fa fa-check"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">Подтверждение личности</h4>
                    </div>
                    <div class="timeline-body">
                      <hr>
                      <p>Для того, чтобы полноценно пользоваться государственными услугами через интернет, вам необходимо иметь подтвержденную учетную запись<br>
                        Найти ближайшие центры подверждения личности можно перейдя по ссылке «Найти центр обслуживания». Точками на карте обозначены такие центры. Нажмите на них для получения информации о режиме работе каждого из центров.<br><br>
                        <a href="https://esia.gosuslugi.ru/public/ra/" target="_blank">
                          <img width="500px" height="300px" style="box-shadow: 0 0 5px 1px;" class="confirm-center center-block" src="../../assets/img/banner/confirm-center.PNG" alt="Generic placeholder image">
                        </a>
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="timeline-badge youtube"><i class="fa fa-youtube-play"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">Видеоролики</h4>
                      <hr>
                    </div>
                    <div class="timeline-body" style="text-align: center">
                      <iframe width="250" height="200" src="https://www.youtube.com/embed/v7OHORH41l0" frameborder="0" allowfullscreen></iframe>
                      <iframe width="250" height="200" src="https://www.youtube.com/embed/7Tb0OiAi23A" frameborder="0" allowfullscreen></iframe>
                      <iframe width="250" height="200" src="https://www.youtube.com/embed/2SqnbIBTyRA" frameborder="0" allowfullscreen></iframe>
                    </div>
                  </div>
                </li>
              </ul>
              <a href="https://www.gosuslugi.ru/" target="_blank">
              <img style="" class="gosuslugi-banner" style="box-shadow: 0 0 5px 1px;" class="center-block" src="../../assets/img/banner/gosuslugi%20728x90.png" alt="Generic placeholder image">
              </a>
                <hr>
              <div style="text-align: center">
                <a id="up" href="#gosuslugi"><img src="../../assets/img/arrow_up.png"></a>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="portal">
            <div class="tab-inner">
              <ul class="timeline">
                <li>
                  <div class="timeline-badge primary"><i class="fa fa-exclamation"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">О портале государственных и муниципальных услуг Чеченской Республики</h4>

                    </div>
                    <div class="timeline-body">
                      <hr>
                      <p>Портал государственных и муниципальных услуг Чеченской Республики - <a href="http://www.pgu.gov-chr.ru" target="_blank">http://www.pgu.gov-chr.ru</a> -  является региональной
                        государственной информационной системой, содержащей систематизированные сведения о
                        государственных и муниципальных услугах, предоставляемых областными
                        органами исполнительной власти, органами местного самоуправления, а также государственными,
                        муниципальными учреждениями, иными организациями Чеченской Республики.<br>
                        Портал государственных услуг создан для того, чтобы обеспечить граждан подробными
                        сведениями о том, что и как ими может быть получено,
                        на каких условиях, куда необходимо обратиться и кому жаловаться при необходимости.
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="rgu">
            <div class="tab-inner">
              <ul class="timeline">
                <li>
                  <div class="timeline-badge primary"><i class="fa fa-exclamation"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">Автоматизированное рабочее место Реестра государственных и муниципальных услуг</h4>
                    </div>
                    <div class="timeline-body">
                      <hr>
                      <p>Реестр государственных и муниципальных услуг – это комплекс программного обеспечения, предназначенный для хранения и формирования карточек всех предоставляемых государственных и муниципальных услуг, предоставляемых государственными и муниципальными органами и учреждениями на территории Чеченской Республики<br>
                        Для организации работы с реестром Госуслуг необходимо:<br>
                        1. Оставить заявку на получение доступа по электронному адресу <a href="mailto:office@gupcit.ru">office@gupcit.ru</a>.<br>
                        2. Перейти по адресу <a href="http://91.215.221.46:8080/rgu" target="_blank">(http://91.215.221.46:8080/rgu)</a>.<br>
                        3. Использовать в работе с реестром любой браузер <span style="color: #ff2e31;">кроме Internet Explorer</span>
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="timeline-badge info"><i class="fa fa-file-text"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">Документация</h4>
                    </div>
                    <div class="timeline-body">
                      <hr>
                          <a  style="border: #03a9f4 2px inset;" href="../assets/docs/1.docx">Методические рекомендации по заполнению электронных форм Реестра</a><br>
                          <a  style="border: #03a9f4 2px inset;" href="../assets/docs/2.doc">Методические материалы по работе с Реестром государственных и муниципальных услуг Ростовской области</a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="timeline-badge youtube"><i class="fa fa-youtube-play"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">Вебинары</h4>
                      <hr>
                    </div>
                    <div class="timeline-body" style="text-align: center">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/-4USi52ckkE" frameborder="0" allowfullscreen></iframe></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="smev">
            <div class="tab-inner">
              <ul class="timeline">
                <li>
                  <div class="timeline-badge primary"><i class="fa fa-exclamation"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">Система межведомственного электронного взаимодействия</h4>

                    </div>
                    <div class="timeline-body">
                      <hr>
                      <p>
                        Электронный адрес для размещения технических вопросов, курируемых ГУП Центром информационных технологии, в части обеспечения работоспособности региональной системы межведомственного электронного взаимодействия
                        <a href="mailto:office@gupcit.ru">office@gupcit.ru</a>.
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="gisgmp">
            <div class="tab-inner">
              <ul class="timeline">
                <li>
                  <div class="timeline-badge primary"><i class="fa fa-exclamation"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">Государственная информационная система о государственных и муниципальных платежах</h4>
                    </div>
                    <div class="timeline-body">
                      <hr>
                      <p>
                        Электронный адрес для размещения технических вопросов, курируемых ГУП Центром информационных технологии, в части обеспечения работоспособности Государственной информационной системы о государственных и муниципальных платежах
                        <a href="mailto:office@gupcit.ru">office@gupcit.ru</a>.
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="timeline-badge youtube"><i class="fa fa-youtube-play"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">Видео-инструкция</h4>
                      <hr>
                    </div>
                    <div class="timeline-body" style="text-align: center">
                    </div>
                      <div class="flowplayer">
              					<video width="50px">
              					<source type="video/mp4" src="../assets/media/gisgmp.mp4">
              					</video>
            					</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="seddelo">
            <div class="tab-inner">
              <ul class="timeline">
                <li>
                  <div class="timeline-badge primary"><i class="fa fa-exclamation"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">Система электронного документооборота (СЭД) «ДЕЛО»</h4>
                    </div>
                    <div class="timeline-body">
                      <hr>
                      <p>
                        Электронный адрес для размещения технических вопросов, курируемых ГУП Центром информационных технологии, в части обеспечения работоспособности региональной системы электронного документооборота (СЭД) «ДЕЛО»
                        <a href="mailto:office@gupcit.ru">office@gupcit.ru</a>.
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="timeline-badge youtube"><i class="fa fa-youtube-play"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">Видео-инструкция</h4>
                      <hr>
                    </div>
                    <div class="timeline-body" style="text-align: center">
                      <iframe width="250" height="200" src="https://www.youtube.com/embed/OG8Ss6kKQ2Q" frameborder="0" allowfullscreen></iframe>
                      <iframe width="250" height="200" src="https://www.youtube.com/embed/7GqY5FnCXu0" frameborder="0" allowfullscreen></iframe>
                      <iframe width="250" height="200" src="https://www.youtube.com/embed/NTWz0pOosPc" frameborder="0" allowfullscreen></iframe>
                      <iframe width="250" height="200" src="https://www.youtube.com/embed/Mu3SWIuYw5Q" frameborder="0" allowfullscreen></iframe>
                      <iframe width="250" height="200" src="https://www.youtube.com/embed/seSeZHDFfJg" frameborder="0" allowfullscreen></iframe>
                      <iframe width="250" height="200" src="https://www.youtube.com/embed/2E4-vuYAeb4" frameborder="0" allowfullscreen></iframe>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        </div>
    </div>
</div>
<div style="z-index: 2;position: relative;background-color: #ffffff;box-shadow:0 0 1px 0px;">
  <div id="contact">
    <div class="section-content">
      <h1 class="section-header"><span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> Напишите нам</span></h1>
    </div>
    <div class="contact-section">
      <div class="container">
        <form #myForm="ngForm" novalidate>
          <div class="col-md-6 form-line">
            <div class="form-group">
              <label>Ваше имя</label>
              <input type="text" class="form-control" name="name" [(ngModel)]="mail.name" required minlength="3" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$" placeholder=" Введите ваше имя">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail">Ваш электронный адрес</label>
              <input type="email" class="form-control" id="exampleInputEmail" name="email" [(ngModel)]="mail.email"
                            required pattern="[a-zA-Z_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}" placeholder=" Введите ваш почтовый адрес">
            </div>
            <div class="form-group">
              <label for="telephone">Номер телефона</label>
              <input type="tel" class="form-control" id="telephone" name="phone" [(ngModel)]="mail.phone"
                            required pattern="[0-9]{10}"  placeholder=" Введите ваш номер телефона">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label> Тема</label>
              <input type="text" class="form-control" name="theme" [(ngModel)]="mail.theme"
                            required placeholder="Введите текст сообщения">
            </div>
            <div class="form-group">
              <label for ="description"> Сообшение</label>
              <textarea  class="form-control" id="description" name="text" [(ngModel)]="mail.text"
                            required placeholder="Введите текст сообщения"></textarea>
            </div>
            <div>
              <button [disabled]="myForm.invalid" class="btn btn-default submit" (click)="submit(mail)"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Отправить</button>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
</div>
<!--
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div style="background-color: #eeeeee" class="box">
          <div class="box-icon">
            <span class="fa fa-4x fa-html5"></span>
          </div>
          <div class="info">
            <h4 class="text-center">Title</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!</p>
            <a href="" class="btn">Link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
-->
