<div style="margin-top: 90px" class="container">
  <div class="row featurette">
    <div class="featurette-text-block col-md-5">
      <h3 style="font-family: fantasy">ГУП Центр информационных технологии</h3>
      Государственное унитарное предприятие «Центр информационных технологий»
      создано распоряжением
      Правительства Чеченской Республики от 06.02.2008г. №42-р в структуре
      <a href="http://mtischr.ru/" target="_blank">Министерства транспорта и связи Чеченской Республики.</a>
      ГУП «Центр информационных технологий» занимается разработкой и
      внедрением элементов «электронного правительства» на региональном уровне.
      В компетенции ГУП «ЦИТ» — разработка и реализация информационных и
      информационно-аналитических проектов и систем в различных
      предметных областях. Основными задачами ГУП «ЦИТ» являются
      создание, сопровождение и системная интеграция информационных
      и информационно-аналитических систем на основе современных
      достижений информационных и телекоммуникационных технологий.
    </div>
    <div class="col-md-7">
      <img style="box-shadow: 0 0 5px 1px;" class="featurette-image img-responsive center-block" src="../assets/img/info/photo.jpg" alt="Generic placeholder image">
    </div>
  </div>
  <br>
  <div class="row featurette">
    <div class="featurette-text-block col-md-7 col-md-push-5">
      <h3 style="font-family: fantasy">Юсупхаджиев Муслим Саидович </h3>
      <span class="text-muted">Генеральный Директор</span>
      <p class="lead">
        Контактные данные<br>
        <i style="color: #1b95e0" class="fa fa-phone" aria-hidden="true"><span style="padding-left: 4px;color: #463e48;">8 (8712) 29-42-89</span></i><br>
        <i style="color: #1b95e0" class="fa fa-envelope-open-o" aria-hidden="true"><span style="padding-left: 4px"><a href="mailto:muslim_s.84@mail.ru">muslim_s.84@mail.ru</a></span></i><br>
      </p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img style="box-shadow: 0 0 5px 1px;" class="featurette-image img-responsive center-block" src="../assets/img/info/muslim1.jpg" alt="Generic placeholder image">
    </div>
  </div>
</div>
