<div style="margin-top: 80px">
  <div class="container">
<div class="row">
  <div class="col-xs-12 col-sm-9">
    <!--Новостной блок-->
    <div *ngFor="let n of news" class="media">
      <div class="media-left">
          <img width="150px" height="100px" class="media-object" src="{{ n?.baseImg }}" alt="...">
      </div>
      <div class="media-body">
        <p style="padding-left:10px;padding-left:10px">{{ n?.title }}</p>
      </div>
      <div class="media-bottom media-right">
        <!-- Button trigger modal -->
        <button (click)="selectNewss(n?._id)" type="button" class="btn btn-light" data-toggle="modal" data-target="#myModal">
          Подробнее...
        </button>
        <i style="color: #1b95e0" class="fa fa-calendar" aria-hidden="true"><span style="color: #000;padding-left: 5px">{{ n?.date }}</span></i>
      </div>
    </div>

  </div>
  <div class="col-xs-6 col-sm-3 sidebar-offcanvas">
    <div style="padding-bottom:10px">
      <a target="_blank" href="https://gosuslugi.ru">
          <img src="../assets/img/banner/gosuslugi/240x400.png">
      </a>
    </div>
    <div style="padding-bottom:10px">
      <a target="_blank" href="http://www.chechnya.gov.ru">
          <img src="../assets/img/banner/glava_pravitelstvo.jpg">
      </a>
    </div>
    <div style="padding-bottom:10px">
      <a target="_blank" href="http://www.pgu.gov-chr.ru">
          <img src="../assets/img/banner/portel_rpgu.jpg">
      </a>
    </div>
  </div>
</div>
  </div>
</div>
<!-- Modal для новости-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <p style="text-indent: 1.5em;">{{selectNews?.text}}</p>
      </div>
      <div class="modal-footer">
        <i style="color: #1b95e0" class="fa fa-calendar" aria-hidden="true"><span style="color: #000;padding-left: 5px;padding-right: 7px">{{ selectNews?.date }}</span></i>
        <button type="button" class="btn btn-info" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
